@use "../../src/styles/index.scss" as styles;

.viewport-centered{
    min-height: 100dvh;
    
    @include styles.desktopSmall{
        @include styles.setFlex();
    }

    .app-layout{
        background-color: #f6f7f8;
        
        @include styles.desktopSmall{
            @include styles.setGrid($rows: auto minmax(0, 1fr), $columns: 232px 1fr);
            width: 100%;
            max-width: 1440px;
            height: 100dvh;
            max-height: 1024px;

            >*{
                min-width: 0;
                min-height: 0;
            }
        }
    }
}

app-cockpit{
    grid-area: 1/1/3/2;
}

app-header{
    grid-area: 1/2/2/3;
}

.content-area{
    grid-area: 2/2/3/3;
}

app-header, app-cockpit{
    z-index: 2;
}
