@use '../../../../styles/index.scss' as styles;

dialog {
  margin: auto;
  position: revert;
  // min-height: 500px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  z-index: 6;

  &.opened {
    background: transparent;
    border-radius: 16px;
    border: none;

    &::backdrop {
      opacity: 0.7;
      background: #b3b3b3;
    }
  }

  .dialog-content {
    @include styles.setGrid($rows: 38% 50px 1fr, $columns: 1fr);
    width: 85dvw;
    max-width: 350px;
    height: 540px;
    background-color: white;
    border-radius: 16px;

    @media(max-width: 390px){
      @include styles.setGrid($rows: 34% 40px 1fr);
    }

    @include styles.up-xxl{
      @include styles.setGrid($rows: 1fr, $columns: 39% 61%);
      width: 80dvw;
      max-width: 1000px;
      height: 490px;
    }
  }
}

header {
  grid-area: 1/1/3/2;
  background-color: styles.$gray-dark;
  color: white;
  border-radius: 16px 16px 0 0;
  @include styles.setGrid($rows: auto 1fr);

  @include styles.up-xxl{
    grid-area: 1/1/2/2;
    border-radius: 16px 0 0 16px;
    padding-bottom: 60px;
  }

  .close-btn-mobile{
    grid-area: 1/1/2/2;
    background-color: transparent;
    justify-self: end;
    padding: 16px 12px;
    z-index: 7;

    >img{
      width: 24px;
      height: 24px;
    }
  }

  .title{
    grid-area: 1/1/3/2;
    @include styles.setFlex($d: column, $ai: flex-start, $gap: 8px);
    width: 100%;
    padding: 16px;

    @include styles.up-xxl{
      padding-left: 40px;
    }

    >.logo{
      width: 70px;
      height: 70px;
      object-fit: contain;

      @include styles.up-xxl{
        width: 55px;
        height: 55px;
      }
    }

    h1{
      font-size: 39px;
      
      @include styles.up-xxl{
        font-size: clamp(45px, 4.5dvw, 52px);
      }
    }

    p{
      @include styles.up-xxl{
        font-size: clamp(18px, 1.9dvw, 24px);
      }
    }

    .line{
      width: 30%;
      height: 3px;
      margin-top: 4px;
      background-color: styles.$blue-sky;

      @include styles.up-xxl{
        width: 22%;
      }
    }
  }
}

.close-btn-desktop{
  @include styles.up-xxl{
    grid-area: 1/2/2/3;
    justify-self: end;
    align-self: start;
    margin: 28px; 
    background-color: transparent;
    z-index: 7;

    .icon--hover{
      display: none;
    }

    &:hover{
      .icon--default{
        display: none;
      }
  
      .icon--hover{
        display: block;
      }
    }
  }
}

.form-section {
  grid-area: 3/1/4/2;
  @include styles.setFlex($d: column, $jc: flex-start);

  @include styles.up-xxl{
    grid-area: 1/2/2/3;
    @include styles.setFlex($d: row, $jc: flex-end, $gap: 11%);
    padding: 0 6%;
  }

  .avatar{
    @include styles.setFlex();
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: styles.$gray-light;
    box-shadow: 0px 0px 4px 0px #0000001A;

    @include styles.down-xxl {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media(max-width: 390px){
      width: 80px;
      height: 80px;
    }

    @include styles.up-xxl{
      margin-bottom: 40px;
    }

    >img{
      width: 50px;
      height: 50px;
    }

    .initials{
      @include styles.setFont($size: 2.4em, $weight: 700, $color: styles.$white);
    }
  }

  .form{
    @include styles.setFlex($d: column, $ai: center);
    width: 100%;
    margin-top: 60px; 

    @media(max-width: 390px){
      margin-top: 50px; 
    }

    @include styles.up-xxl{
      @include styles.setFlex($d: column, $ai: flex-start, $jc: flex-start, $gap: 8px);
      width: 65%;
      height: 300px;
      margin-top: 45px; 
    }
    
    .form__input-box{
      width: 90%;

      @include styles.up-xxl{
        width: 100%;
      }
    }

    .form__input{
      width: 100%;
      height: 30px;
      border: 1px solid styles.$gray-light;
      border-radius: 8px;
      @include styles.setFont();
      padding: 0 50px 0 16px;

      @include styles.up-xxl{
        height: 45px;
      }

      &::placeholder{
        color: styles.$gray-light;
      }

      &:focus {
        outline: none;
        border-color: styles.$gray-dark;
      }

      &.ng-invalid.ng-touched {
          border-color: styles.$red-error;
      }

      &[readonly] {
        background-color: #f5f5f5;
        color: styles.$gray-dark;
      }
    }

    .form__icon{
      position: absolute;
      right: 4px;
      top: 6px;
      transform: translate(-50%);
      pointer-events: none;
      width: 18px;
      height: 18px;

      @include styles.up-xxl{
        right: 6px;
        top: 12px;
        width: 20px;
        height: 20px;
      }
    }

    .input-error-wrapper{
      min-height: 20px;
      margin-bottom: 4px;
    }

      .form__actions{
        @include styles.setFlex($gap: 16px);

        button{
          margin-top: 8px;
          margin-bottom: 16px;

          @include styles.up-xxl{
            margin-top: 12px;
          }

          .button__icon--hover{
            display: none;
          }
          
          &:hover{
            .button__icon--default{
              display: none;
            }
            
            .button__icon--hover{
              display: block;
            }
          }
        }

        .button--secondary{
          background-color: white;
        }
      }

      .form__error{
        display: block;
        color: styles.$red-error;
      }
    }
}
