@use '../../../../styles/index.scss' as styles;

dialog {
  margin: auto;
  // position: revert;
  position: fixed;
  top: calc(styles.$header-mobile + 4px);
  @include styles.desktopSmall{
    top: 350px;
  }

  box-shadow: 0px 0px 4px 0px #0000001a;
  border: 1px solid transparent;
  border-radius: 16px;
  z-index: 100;

  .dialog-content {
    @include styles.setGrid($rows: 20% 25% 1fr);
    width: 90dvw;
    max-width: 350px;
    height: 590px;

    @include styles.desktopSmall{
      @include styles.setGrid($rows: 1fr, $columns: 40% 60%);
      width: 80dvw;
      max-width: none;
      height: 500px;
    }
  }
}

header {
  grid-area: 1/1/3/2;
  background-color: styles.$gray-dark;
  color: white;
  border-radius: 16px 16px 0 0;
  @include styles.setGrid($rows: auto 1fr);

  @include styles.desktopSmall{
    grid-area: 1/1/2/2;
    border-radius: 16px 0 0 16px;
  }

  button{
    grid-area: 1/1/2/2;
    background-color: transparent;
    justify-self: end;
    padding: 8px;
  }

  .title{
    grid-area: 1/1/3/2;
    @include styles.setFlex($d: column, $ai: flex-start, $gap: 16px);
    width: 100%;
    padding: 16px;

    >.logo{
      width: 70px;
      height: 70px;
      object-fit: contain;
    }

    h1{
      font-size: 39px;
      
      @include styles.desktopSmall{
        font-size: 60px;
      }
    }

    .line{
      width: 30%;
      height: 3px;
      background-color: lightblue;
    }
  }
}

.form-section {
  grid-area: 2/1/4/2;
  @include styles.setFlex($d: column, $gap: 24px);

  @include styles.desktopSmall{
    grid-area: 1/2/2/3;
    @include styles.setFlex($d: row, $gap: 24px);
  }

  .avatar{
    @include styles.setFlex();
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: styles.$gray-light;
    box-shadow: 0px 0px 4px 0px #0000001A;

    >img{
      width: 50px;
      height: 50px;
    }
  }

  .form{
    @include styles.setFlex($d: column, $ai: flex-start, $gap: 16px);
    width: 100%;
    
    @include styles.desktopSmall{
      width: 70%;
    }

    .form__input-box{
      width: 90%;

      @include styles.desktopSmall{
        width: 100%;
      }
    }

    .form__input{
      width: 100%;
      height: 30px;
      border: 1px solid styles.$gray-light;
      border-radius: 8px;

      &::placeholder{
        color: styles.$gray-light;
        padding-left: 16px;
      }
    }

    .form__icon{
      position: absolute;
      right: 12px;
      top: 5px;
      transform: translate(-50%);
      pointer-events: none;
      width: 18px;
      height: 18px;
    }

      .form__actions{
        @include styles.desktopSmall{
          @include styles.setFlex($gap: 16px);
        }

        button{
          .button__icon--hover{
            display: none;
          }

          
          &:hover{
            .button__icon--default{
              display: none;
            }
            
            .button__icon--hover{
              display: block;
            }
          }
        }

        .button--secondary{
          background-color: white;
        }
      }
    }
  
}

