@use '../../../../styles/index.scss' as styles;

dialog {
  margin: auto;
  // position: revert;
  position: fixed;
  top: calc(styles.$header-mobile + 4px);

  box-shadow: 0px 0px 4px 0px #0000001a;
  border: none;

  .dialog-content {
    width: 326px;
    height: 80dvh;

    header {
      background-color: styles.$gray-dark;
    }

    .form-section {
    }
  }
}
