/* You can add global styles to this file, and also import other style files */
@use './styles/index' as styles;

*,
*::before,
*::after {
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  @include styles.setFont($size: 10px);
  scroll-padding-top: styles.$header-mobile;

  > body {
    @include styles.setFont($size: 16px, $weight: 400);

    min-height: 100dvh;

    

    width: 100%;
    // max-width: styles.$g-max-width;
    // margin: 0 auto;

    
  }
}

// #region Button styles
button{
  padding: 8px;
  border: none;
  border-radius: 8px;
  @include styles.setFont();
  cursor: pointer;
}

.button--primary{
  background-color: styles.$gray-dark;
  color: white;

  &:hover{
    background-color: styles.$blue-sky;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active{
    background-color: styles.$navy-dark;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.button--secondary{
  background-color: styles.$white-light;
  color: styles.$gray-dark;
  border: 1px solid styles.$gray-dark;

  &:hover{
    color: styles.$blue-sky;
    border-color: styles.$blue-sky;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active{
    color: styles.$gray-dark;
    border-color: styles.$gray-dark;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.button--disabled{
  color: styles.$gray-dark;
  border: 1px solid styles.$gray-dark;
  filter: opacity(0.5);
  cursor: not-allowed;
}

.button--icon{
  @include styles.setFlex($gap: 4px);

  .button__icon{
    width: 20px;
    height: 20px;
  }
}
// #endregion

// #region Legal pages
.legal-content-wrapper{
    @include styles.setFlex();

    .legal-page-article{
        width: 90%;
        padding: 7rem 0 12rem;
        
        h1 {
            font-size: 3rem; 
            padding: 0 0 16px;
            font-weight: normal;
        }

        h2 {
            font-size: 2rem; 
            margin: 24px 0 0;
            font-weight: normal;
        }

        h3{
            font-size: 1.8rem; 
            margin-top: 16px;
            font-weight: normal;
        }

        h4, h5, h6{
            font-size: 1.6rem; 
            margin-top: 16px;
            font-weight: normal;
        }

        ul {
            padding-left: 24px;
        }

        p {
            margin-top: 8px;
        }

        li{
            list-style: square;
        }
    }
}
// #endregion

// #region Visibility classes
.mobile-only{
    @include styles.desktop{
        display: none;
    }
}

.desktop-only{
    @include styles.notebook{
        display: none;
    }
}
// #endregion
