/* You can add global styles to this file, and also import other style files */
@use './styles/index' as styles;

*,
*::before,
*::after {
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  @include styles.setFont($size: 10px);

  > body {
    @include styles.setFont($size: 16px, $weight: 400);
  }
}

// #region Button styles
button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  @include styles.setFont();
  cursor: pointer;
}

.button--primary {
  background-color: styles.$gray-dark;
  color: white;

  &:hover {
    background-color: styles.$blue-sky;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active {
    background-color: styles.$navy-dark;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.button--secondary {
  background-color: styles.$white-light;
  color: styles.$gray-dark;
  border: 1px solid styles.$gray-dark;

  &:hover {
    color: styles.$blue-sky;
    border-color: styles.$blue-sky;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  &:active {
    color: styles.$gray-dark;
    border-color: styles.$gray-dark;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.button--disabled {
  color: styles.$gray-dark;
  border: 1px solid styles.$gray-dark;
  filter: opacity(0.5);
  cursor: not-allowed;
}

.button--icon {
  @include styles.setFlex($gap: 4px);

  .button__icon {
    width: 20px;
    height: 20px;
  }
}
// #endregion

// #region Legal pages
.legal-content-wrapper {
  @include styles.setFlex($ai: flex-start);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  .legal-page-article {
    width: 90%;
    padding: 7rem 0 12rem;

    .heading {
      @include styles.setFlex($jc: space-between);

      > button {
        background-color: transparent;
      }
    }

    h1 {
      padding: 0 0 16px;
      font-size: 42px;

      @include styles.desktopSmall {
        font-size: 60px;
      }
    }

    h2 {
      margin: 24px 0 16px;
      font-size: 24px;

      @include styles.desktopSmall {
        font-size: 30px;
      }
    }

    h3 {
      margin-top: 16px;
      font-size: 20px;

      @include styles.desktopSmall {
        font-size: 24px;
      }
    }

    h4 {
      margin-top: 16px;
      font-size: 18px;

      @include styles.desktopSmall {
        font-size: 20px;
      }
    }

    h5,
    h6 {
      margin-top: 16px;
      font-size: 16px;

      @include styles.desktopSmall {
        font-size: 18px;
      }
    }

    ul {
      padding-left: 24px;
    }

    li {
      margin: 16px 0;
    }

    ol {
      list-style: none;
      counter-reset: number-counter;
    }

    ol > li {
      counter-increment: number-counter;
      list-style-position: outside;
      @include styles.setGrid($columns: 20px 1fr);

      &::before {
        content: counter(number-counter) '. ';
        font-weight: bold;
        font-size: 20px;
      }
    }

    .li-content {
      margin-left: 15px;

      > span {
        font-weight: bold;
        font-size: 18px;
      }
    }

    a {
      color: styles.$blue-sky;
    }

    p {
      margin-top: 8px;
    }
  }
}
// #endregion

// #region Visibility classes
.mobile-only {
  @include styles.desktopSmall {
    display: none;
  }
}

.desktop-only {
  @include styles.tablet {
    display: none;
  }
}
// #endregion
