@keyframes contact-info-fab-menu-in {
  from {
    opacity: 0;
    transform: translateX(3rem) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes contact-info-profile-in {
  from {
    opacity: 0;
    transform: translateX(100rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
