<section class="contact-list">
  <button class="contact-list__button" type="button" (click)="addContact.emit()">
    <span class="contact-list__btn-text">Add new contact</span>
    <img
      class="contact-list__btn-icon"
      src="assets/img/icons/buttons/add-contact.svg" alt="Add contact icon"
      aria-hidden="true"
    />
  </button>

  <section class="contact-list__scroll" aria-label="Contact list">
    @if (loading && !contacts.length){
      <p class="contact-list__empty">Loading contacts...</p>
    } @else if (!loading && !contacts.length) {
      <p class="contact-list__empty">No contacts yet</p>
    }

    @for (contact of contacts; track getContactId(contact, $index); let idx = $index) {
      <article class="contact-list__alphab-section">
        @if (isNewLetter(idx)) {
          <h2 class="contact-list__letter">{{ getFirstLetter(contact) }}</h2>
          <section class="contact-list__divider" aria-hidden="true"></section>
        }

        <app-single-contact
          class="contact-list__single-contact"
          [contact]="contact"
          [isActive]="activeContactID === getContactId(contact, idx)"
          (selected)="setActiveContact(contact, idx)"
        />
      </article>
    }
  </section>
</section>
