@use '../../../../styles/index.scss' as styles;

:host {
  display: contents;
}

.logo {
  --layout-width: 93dvw;
  --logo-final-left: calc((100dvw - var(--layout-width)) / 2 + 16px);
  --logo-final-top: 3rem;
  @include styles.setGrid();
  left: var(--logo-final-left);
  position: fixed;
  top: var(--logo-final-top);
  transition:
    left 1.2s ease,
    top 1.2s ease,
    transform 1.2s ease;
  width: fit-content;
  z-index: 11;

  @include styles.up-xxl {
    --layout-width: 90dvw;
    --logo-final-left: calc((100dvw - var(--layout-width)) / 2);
    --logo-final-top: 9rem;
  }
}

.logo img {
  grid-area: 1/1/2/2;
  scale: 1;
  transform-origin: center;
  transition:
    scale 1.2s ease,
    opacity 0.4s ease;
  width: 64px;

  @include styles.up-xxl {
    width: 100px;
  }

  @media (max-width: 400px) {
    width: 45px;
  }
}

.logo--intro {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo--intro img {
  scale: 1.6;
}

.logo-dark {
  display: block;
}

.logo-light {
  display: block;

  @include styles.up-xxl {
    display: none;
  }
}

.logo--intro.logo--move {
  left: var(--logo-final-left);
  top: var(--logo-final-top);
  transform: none;
}

.logo--intro.logo--move img {
  scale: 1;
}

.logo--move .logo-light {
  opacity: 0;
  transition-delay: 0.6s;
}

.logo--move .logo-dark {
  opacity: 1;
  transition-delay: 0.6s;
}

.intro-overlay {
  position: fixed;
  inset: 0;
  background-color: styles.$gray-dark;
  animation-name: overlayFade;
  animation-delay: 1s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  z-index: 10;

  @include styles.up-xxl {
    background-color: white;
  }
}
