@use '../../../styles/index.scss' as styles;

.contacts {
  border: 1px solid red;
  height: 100%;
  width: 100%;
}

.contacts-desktop {
  @include styles.setFlex($ai: stretch);
}

.contacts-mobile {
  @include styles.setFlex($ai: stretch);
}

app-contact-list {
  background-color: white;
}

app-contact-info {
  flex: 1;
  min-width: 0;
}
