@use '../../../styles/index.scss' as styles;

.contacts {
  @include styles.setFlex($ai: stretch);
  height: calc(100dvh - 2 * styles.$header-height);
  width: 100%;

  @include styles.up-xxl {
    height: calc(100dvh - styles.$header-height);
  }

  &__list {
    background-color: #ffffff;
    height: 100%;
    min-height: 0;
    display: flex;
  }

  &__info {
    flex: 1;
    height: 100%;
    min-height: 0;
    min-width: 0;
    display: flex;
  }
}

@include styles.down-lg {
  .contacts__list {
    width: 100%;
  }

  .contacts__info {
    display: none;
  }

  .contacts--detail-open {
    .contacts__info {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      background-color: #ffffff;
    }

    .contacts__list {
      display: none;
    }
  }
}
