@use '../../../styles/index.scss' as styles;

.contacts {
  height: 100%;
  width: 100%;
}

.contacts-desktop {
  @include styles.setFlex($ai: stretch);
}

.contacts-mobile {
  @include styles.setFlex($ai: stretch);
}

app-contact-list {
  background-color: white;
}

app-contact-info {
  flex: 1;
  min-width: 0;
}

// @include styles.down-xxl {
//   @include styles.up-lg {
//     .contacts {
//       height: calc(100dvh - styles.$header-height);
//       padding-bottom: 70px;
//       overflow: hidden;
//     }

//     .contacts-desktop {
//       height: 100%;
//       min-height: 0;
//     }

//     app-contact-list,
//     app-contact-info {
//       height: 100%;
//       min-height: 0;
//     }
//   }
// }

@include styles.down-lg {
  app-contact-list {
    width: 100%;
  }

  app-contact-info {
    display: none;
  }

  .contacts-detail-open {
    app-contact-info {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100dvh;
      background-color: #ffffff;
      // overflow-y: auto;
    }

    app-contact-list {
      display: none;
    }
  }
}

.toast-wrapper{
  position: fixed;
  inset: 0;
  @include styles.setFlex();
  z-index: 1000;
  pointer-events: none;

  @include styles.up-xxl {
    transform: translate(7dvw, 25dvh);
  }
}

.toast {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: styles.$gray-dark;
  color: white;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;

  @include styles.down-xxl{
    transform: translateY(100%);
  }

  @include styles.up-xxl{
    transform: translateX(100%);
  }

  &--visible {
    opacity: 1;

    @include styles.down-xxl{
      transform: translateY(0);
    }

    @include styles.up-xxl{
      transform: translateX(0);
    }
  }
}