@use '../../../../styles/index.scss' as styles;

header {
  position: sticky;
  top: 0;
  @include styles.setFlex();
  background-color: white;
  box-shadow: 0px 4px 4px 0px #0000001a;

  .content-wrapper {
    @include styles.setFlex($jc: space-between);
    width: 93%;
    height: styles.$header-mobile;

    @include styles.desktopSmall {
      width: 90%;
      height: styles.$header-desktop;
    }
  }
}

.content-left {
  .mobile-logo-link {
    > img {
      width: 35px;
      height: 35px;
      object-fit: contain;
    }
  }

  .desktop-title {
    font-size: 20px;
  }
}

.content-right {
  @include styles.setFlex($gap: 16px);

  .desktop-help-link {
    @include styles.setFlex();

    @include styles.tablet {
      display: none;
    }

    > img {
      transition: transform 0.15s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .user-menu-button {
    @include styles.setFlex();
    width: 40px;
    height: 40px;
    border: 2px solid styles.$gray-dark;
    border-radius: 50%;
    background-color: white;

    &:hover {
      background-color: #e2e6ec;
    }

    @include styles.desktopSmall {
      width: 50px;
      height: 50px;
    }

    > span {
      @include styles.setFont($color: styles.$blue-sky, $weight: 900);

      @include styles.desktopSmall {
        font-size: 18px;
      }
    }
  }
}
