<header>
    <div class="content-wrapper">
        <div class="content-left">
            <a routerLink="" class="mobile-logo-link mobile-only" aria-label="Open start page">
                <img src="assets/img/icons/logo-dark.svg" alt="Join">
            </a>
            <p class="desktop-title desktop-only">Kanban Project Management Tool</p>
        </div>
        <div class="content-right">
            @if(loggedIn){
                <a routerLink="/help" class="desktop-help-link desktop-only" aria-label="Open help page">
                    <img src="assets/img/icons/buttons/help.svg" alt="Help icon">
                </a>
                <button class="user-menu-button" (click)="toggleMenu()" aria-label="Open user menu">
                    <span aria-hidden="true">G</span>
                </button>
                @if (menuOpen) {
                    <div class="user-menu">
                        <a routerLink="/help" class="mobile-only" (click)="closeMenu()">Help</a>
                        <a routerLink="/imprint" (click)="closeMenu()">Legal Notice</a>
                        <a routerLink="/privacy" (click)="closeMenu()">Privacy Policy</a>
                        <button (click)="logout()">Log out</button>
                    </div>
                }
            }
        </div>
    </div>
</header>