@use "../../../styles/index.scss" as styles;

section{
  @include styles.setFlex($ai: flex-start);
  min-height: calc(100dvh - styles.$header-height);
  
  @include styles.up-xxl{
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
          display: none;
    }
  }

  .content-wrapper{
    width: 93%;
    padding: 4rem 0 12rem;

    @include styles.up-xxl{
      width: 90%;
      padding: 8rem 0 12rem;
    }
  }
}

.title-section{
  @include styles.setGrid($rows: auto auto, $columns: 1fr 1fr, $ai: center, $row-gap: 35px);
  margin-bottom: 20px;

  @include styles.up-xxl{
    @include styles.setGrid($rows: auto, $columns: 51% 29% auto);
    margin-bottom: 48px;
  }

  h1{
    grid-area: 1/1/2/2;
    font-size: 40px;

    @include styles.up-xxl{
      grid-area: 1/1/2/2;
      font-size: 60px;
    }
  }

  .search-bar{
    grid-area: 2/1/3/3;
    @include styles.setGrid($rows: 1fr, $columns: 1fr 1px 60px);
    
    @include styles.up-xxl{
      grid-area: 1/2/2/3;
      @include styles.setGrid($rows: 1fr, $columns: 1fr 1px 20%);
    }
    
    .search-bar__input{
      grid-area: 1/1/2/4;
      width: 100%;
      border: 1px solid #A8A8A8;
      border-radius: 8px;
      height: 46px;
      padding: 0 60px 0 12px;
      font-size: 16px;

      @include styles.up-xxl{
        font-size: 20px;
        padding: 0 20% 0 12px;
      }
    }

    .search-bar__divider{
      grid-area: 1/2/2/3;
      align-self: center;
      width: 1px;
      height: 60%;
      background-color: styles.$gray-light;
    }

    .search-bar__button{
      grid-area: 1/3/2/4;
      background-color: transparent;
      @include styles.setFlex();

      &:hover{
        .search-bar__icon--default{
          display: none;
        }

        .search-bar__icon--hover{
          display: block;
        }
      }
    }

    .search-bar__icon{
      width: 32px;
      height: 32px;
    }
    
    .search-bar__icon--hover{
      display: none;
    }
  }

  .add-task-btn{
    grid-area: 1/2/2/3;
    width: 40px;
    height: 40px;
    justify-self: end;

    @include styles.up-xxl{
      grid-area: 1/3/2/4;
      width: 130px;
      height: 46px;
      place-self: center;
      font-size: 20px;
      gap: 4px;
      margin-left: 16px;
    }

    @media(min-width: 1120px){
      width: 160px;
      gap: 10px;
    }

    img{
      @include styles.up-xxl{
        width: 24px;
        height: 24px;
      }
    }
  }
}

.board{
  app-task-list{
    flex: 1;
  }

  @include styles.up-xxl{
    @include styles.setFlex($jc: flex-start, $ai: flex-start, $gap: 4px);
  }

  @media(min-width: 1250px){
    gap: 20px;
  }
}