@use "../../styles/index.scss" as styles;

.layout-wrapper{
  @include styles.setFlex();
  height: 100dvh;

  @include styles.up-xxl{
    height: 100%;
  }

  .layout{
    @include styles.setGrid($rows: auto 1fr auto auto, $columns: 1fr);
    width: 93%;
    height: 100%;
    padding: 3rem 0 2rem;

    @media(max-width: 400px){
      padding: 2rem 0 1rem;
    }
  
    @include styles.up-xxl{
      @include styles.setGrid($rows: auto 1fr auto, $columns: auto 1fr);
      width: 90%;
      height: 100%;
      padding: 7rem 0 2rem;
    }
  }
}

.sign-up-option{
  grid-area: 3/1/4/2;
  @include styles.setFlex($gap: 28px);
  width: 100%;
  font-size: 20px;
  margin-bottom: 40px;

  @media(max-width: 400px){
    gap: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  @include styles.up-xxl{
    grid-area: 1/2/2/3;
    @include styles.setFlex($jc: flex-end, $gap: 24px);
    padding-right: 4.5rem;
  }

  button{
    padding: 11px 16px;
  }
}

footer{
  grid-area: 4/1/5/2;
  @include styles.setFlex($gap: 20px);
  width: 100%;
  height: 35px;

  @include styles.up-xxl{
    grid-area: 3/1/4/3;
    height: 70px;
  }

  a{
    color: #A8A8A8;
    
    @include styles.up-xxl{
      width: 110px;
      text-align: center;
    }

    &:hover{
      color: styles.$blue-sky;
      font-weight: 600;
    }
  }
}
