@use "../../styles/index.scss" as styles;

.layout-wrapper{
  @include styles.setFlex();
  height: 100dvh;

  @include styles.up-xxl{
    height: 100%;
  }

  .layout{
    @include styles.setGrid($rows: auto 1fr auto auto, $columns: 1fr);
    width: 93%;
    height: 100%;
    padding: 3rem 0 2rem;

    @media(max-width: 400px){
      padding: 2rem 0 1rem;
    }
  
    @include styles.up-xxl{
      @include styles.setGrid($rows: auto 1fr auto, $columns: auto 1fr);
      width: 90%;
      height: 100%;
      padding: 7rem 0 2rem;
    }
  }
}

.logo{
  grid-area: 1/1/2/2;
  @include styles.setGrid();
  padding-left: 16px;
  z-index: 11;
  
  @include styles.up-xxl{
    grid-area: 1/1/4/2;
    padding-left: 0;
    padding-top: 2rem;
  }

  img{
    grid-area: 1/1/2/2;
    width: 64px;
    transition-property: transform, opacity;
    transition-duration: 1.2s, 0.4s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    transform: translate(40vw, 40vh) scale(1.6);

    @include styles.up-xxl{
      width: 100px;
    }

    @media(max-width: 400px){
      width: 45px;
    }
  }
}

.logo-dark{
  display: block;
}

.logo-light{
  display: block;

  @include styles.up-xxl{
    display: none;
  }
}

.logo--move {
  img {
    transform: none;
  }

  .logo-light{
    opacity: 0;
    transition-delay: 0.6s;
  }

  .logo-dark{
    opacity: 1;
    transition-delay: 0.6s;
  }
}

.intro-overlay {
  position: fixed;
  inset: 0;
  background-color: styles.$gray-dark;
  animation-name: overlayFade;
  animation-delay: 1s;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  z-index: 10;

  @include styles.up-xxl{
    background-color: white;
  }
}

.sign-up-option{
  grid-area: 3/1/4/2;
  @include styles.setFlex($gap: 28px);
  width: 100%;
  font-size: 20px;
  margin-bottom: 40px;

  @media(max-width: 400px){
    gap: 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  @include styles.up-xxl{
    grid-area: 1/2/2/3;
    @include styles.setFlex($jc: flex-end, $gap: 24px);
    padding-right: 4.5rem;
  }

  button{
    padding: 11px 16px;
  }
}

.form-section{
  grid-area: 2/1/3/2;
  @include styles.setFlex();
  margin: 16px 0;

  .form-wrapper{
    @include styles.setFlex($d: column, $jc: flex-start, $gap: 26px);
    width: 90dvw;
    max-width: 500px;
    padding: 36px 16px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;

    @include styles.up-xxl{
      gap: 30px;
      width: 650px;
      max-width: unset;
    }

    .title{
      @include styles.setFlex($d: column, $gap: 12px);

      @include styles.up-xxl{
        gap: 16px;
      }

      h1{
        font-size: 47px;

        @include styles.up-xxl{
          font-size: 60px;
        }
      }
  
      .divider{
        width: 80px;
        height: 3px;
        background-color: styles.$blue-sky;

        @include styles.up-xxl{
          width: 150px;
        }
      }
    }

    .sign-title{
      @include styles.setGrid($rows: auto, $columns: 40px 1fr);
      width: 100%;

      .back-btn{
        grid-area: 1/1/2/2;
        background-color: transparent;
        align-self: start;
        cursor: pointer;
        z-index: 2;

        img{
          width: 24px;
          height: 24px;
        }
      }

      .sign-up{
        grid-area: 1/1/2/3;
        @include styles.setFlex($d: column, $gap: 8px);
      }
    }
  }

  @include styles.up-xxl{
    grid-area: 2/1/3/3;
  }
}

.log-in-sign-up-form{
  width: 100%;

  @include styles.up-xxl{
    width: 70%;
  }

  .input-box{
    @include styles.setGrid($rows: 1fr, $columns: 1fr 40px, $jc: center, $ai: center);
    margin-bottom: 28px;

    @media(max-width: 400px){
      margin-bottom: 16px;
    }

    @include styles.up-xxl{
      margin-bottom: 32px;
    }

    input{
      grid-area: 1/1/2/3;
      width: 100%;
      height: 40px;
      border: 1px solid styles.$gray-light;
      border-radius: 8px;
      @include styles.setFont();
      padding: 0 50px 0 16px;

      @media(max-width: 400px){
        height: 36px;
      }

      @include styles.up-xxl{
        height: 50px;
        font-size: 20px;
      }

      &::placeholder{
        color: styles.$gray-light;
      }

      &:focus {
        outline: none;
        border-color: styles.$gray-dark;
      }

      &.ng-invalid.ng-touched {
          border-color: styles.$red-error;
      }
    }

    img{
      grid-area: 1/2/2/3;
    }

    .icon-slot{
      grid-area: 1/2/2/3;
      @include styles.setGrid();

      .lock-icon, .visibility-btn{
        grid-area: 1/1/2/2;
      }
      
      .visibility-btn{
        @include styles.setFlex($jc: flex-start);
        background-color: transparent;
        padding-left: 0;
      }
    }

    .form-error{
      display: block;
      margin-top: 2px;
      color: styles.$red-error;
    }
  }

  .form-actions{
    @include styles.setFlex($d: column, $gap: 12px);
    margin-top: 55px;

    @media(max-width: 400px){
      margin-top: 24px;
    }

    @include styles.up-xxl{
      @include styles.setFlex($gap: 28px);
      margin-top: 50px;
      font-size: 20px;
    }

    button{
      @include styles.setFlex();
      width: 50%;
      padding: 12px 0;

      @media(max-width: 400px){
        width: 100%;
        height: 36px;
      }

      @include styles.up-xxl{
        width: fit-content;
        padding: 12px 30px;
      }

      &:disabled{
        border: 1px solid styles.$gray-dark;
        filter: opacity(0.5);
        pointer-events: none;
      }
    }
  }
}

.sign-up-form{
  .checkbox-wrapper{
    @include styles.setFlex($gap: 8px);
    margin-bottom: 6px;
    cursor: pointer;

    @include styles.up-xxl{
      font-size: 16px;
      gap: 14px;
      margin-bottom: 6px;
    }
  
    .checkbox{
      display: none;

      &:checked + .checkbox-ui {
        background: url(../../../public/assets/img/icons/checkboxes/checkbox-checked.svg)
        center / contain no-repeat;
      }
    }
      
    .checkbox-ui {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      background: url(../../../public/assets/img/icons/checkboxes/checkbox.svg)
        center / contain no-repeat;
    }
    
    &:hover .checkbox-ui {
      background: url(../../../public/assets/img/icons/checkboxes/checkbox-hover.svg)
      center / contain no-repeat;
    }

    &:hover .checkbox:checked + .checkbox-ui {
      background: url(../../../public/assets/img/icons/checkboxes/checkbox-checked-hover.svg)
      center / contain no-repeat;
    }

    .privacy-link a{
      color: styles.$blue-sky;
    }
  }

  .checkbox-error{
    @include styles.setFlex();
    margin-top: 2px;
    color: styles.$red-error;
  }
}

.form-section .form-wrapper{
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sign-up-form-section.scrollable .form-wrapper{
  overflow-y: auto;
  max-height: 430px; 
  
  @include styles.up-xxl{
    max-height: 600px; 
  }
}

footer{
  grid-area: 4/1/5/2;
  @include styles.setFlex($gap: 20px);
  width: 100%;
  height: 35px;

  @include styles.up-xxl{
    grid-area: 3/1/4/3;
    height: 70px;
  }

  a{
    color: #A8A8A8;
    
    @include styles.up-xxl{
      width: 110px;
      text-align: center;
    }

    &:hover{
      color: styles.$blue-sky;
      font-weight: 600;
    }
  }
}