<section class="layout-wrapper">
  <section class="layout">

    @if (!showMobileGreeting) {
  
      <header class="logo" [class.logo--move]="logoMoving">
        <img class="logo-dark" src="assets/img/icons/logo-dark.svg" alt="Join logo">
        <img class="logo-light" src="assets/img/icons/logo-light.svg" alt="Join logo" aria-hidden="true">
      </header>

      @if (introActive) {
        <aside class="intro-overlay" aria-hidden="true"></aside>
      } 
    
      @if (!showSignUp) {
        <aside class="sign-up-option">
          <p>Not a Join user?</p>
          <button class="button button--primary" (click)="openSignUp()">Sign up</button>
        </aside>
      }
    
      @if (!showSignUp) {
        <app-login-form-card
          [logInData]="logInData"
          [showPassword]="showLogInPassword"
          [isLoggingIn]="isLoggingIn"
          [loginError]="loginError"
          (submitLogin)="onLogin($event)"
          (togglePassword)="toggleLogInPassword()"
          (guestLogin)="guestLogin()"
        ></app-login-form-card>
      }

      @if(showSignUp){
        <app-signup-form-card
          [signUpData]="signUpData"
          [confirmPassword]="confirmPassword"
          [showSignUpPassword]="showSignUpPassword"
          [showConfirmPassword]="showConfirmPassword"
          [isSigningUp]="isSigningUp"
          [signUpError]="signUpError"
          (submitSignUp)="onSignUp($event)"
          (closeSignUp)="closeSignUp()"
          (toggleSignUpPassword)="toggleSignUpPassword()"
          (toggleConfirmPassword)="toggleConfirmPassword()"
          (confirmPasswordChange)="confirmPassword = $event"
        ></app-signup-form-card>
      }
    
      <footer>
        <a routerLink="/privacy">Privacy Policy</a>
        <a routerLink="/imprint">Legal notice</a>
      </footer>

      <aside class="toast-wrapper" aria-live="polite" aria-atomic="true">
        <p
          class="toast"
          [class.toast--visible]="toastVisible"
          role="status"
        >
          You signed up successfully
        </p>
      </aside> 
    }
    
    @if (showMobileGreeting) {
      <aside class="mobile-greeting-overlay">
        @if (user$ | async; as user) {
          <section class="good-day-message">
            @if (user.isAnonymous) {
              <p>{{ greeting }}!</p>
            } @else {
                <p>{{ greeting }},</p>
                <p class="user-name">{{ getGreetingName(user.email) }}</p>
              }
          </section>
        }
      </aside>
    }

  </section>
</section>
