@use "../../../styles/index.scss" as styles;

section{
  @include styles.setFlex($ai: flex-start);
  min-height: calc(100dvh - styles.$header-height);

  .content-wrapper{
    width: 93%;
    padding: 4rem 0 12rem;

    @include styles.up-xxl{
      width: 90%;
      padding: 8rem 0 12rem;
    }
  }
}

.header{
  @include styles.setFlex($d: column, $ai: flex-start, $gap: 8px);
  margin-bottom: 40px;
  
  @include styles.up-xxl{
    @include styles.setFlex($jc: flex-start, $gap: 20px);
  }

  h1{
    font-size: 40px;
  
    @include styles.up-xxl{
      font-size: 60px;
    }
  }

  p{
    font-size: 20px;
  }

  .desktop-divider{
    width: 3px;
    height: 50px;
    background-color: styles.$blue-sky;
  }

  .mobile-divider{
    width: 100px;
    height: 3px;
    background-color: styles.$blue-sky;
  }
}

.content{
  @include styles.up-xxl{
    @include styles.setFlex($jc: space-between);
  }
}

.boxes{
  @include styles.setGrid($rows: auto auto auto, $row-gap: 20px);
}

.box{
  @include styles.setFlex($gap: 8px);
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px #0000001A;
  color: black;

  &:hover{
    scale: 1.05;
    background-color: styles.$gray-dark;
    color: white;
  }
}

.number{
  font-size: 47px;
  font-weight: 600;
}

.status-amount{
  grid-row: 1/2;
  @include styles.setFlex($gap: 20px);

  .icon{
    width: 40px;
    height: 40px;
  }

  .icon--hover{
    display: none;
  }

  .amount{
    @include styles.setFlex($d: column);
  }

  a:hover{
    .icon--default{
      display: none;
    }

    .icon--hover{
      display: block;
    }
  }

}

.high-priority-amount{
  grid-row: 2/3;
  @include styles.setFlex($gap: 20px);

  .urgent{
    @include styles.setFlex($gap: 16px);

    .urgent-logo-circle{
      @include styles.setFlex();
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: styles.$red-accent;
    }

    .amount{
      @include styles.setFlex($d: column);
    }
  }

  .divider{
    width: 2px;
    height: 80%;
    background-color: styles.$gray-light;
  }

  .priority-info{
    .deadline{
      font-weight: bold;
      margin-bottom: 6px;
    }
  }
}

.tasks-amount{
  grid-row: 3/4;
  @include styles.setFlex($gap: 20px);
  
  .box-amount{
    @include styles.setFlex($d: column);

    p{
      text-align: center;
    }
  }
}

.goodday-message{
  @include styles.setFlex($d: column);
  width: 40%;
  font-size: 34px;
  font-weight: 500;

  .user-name{
    color: styles.$blue-sky;
    font-size: 50px;
    font-weight: bold;
  }
  
  @include styles.up-xxl{
    align-items: flex-start;
  }
}