@use "../../../styles/index.scss" as styles;

:host > section{
  @include styles.setFlex($ai: flex-start);
  height: calc(100dvh - 2 * styles.$header-height);
  overflow: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-bottom: 2.5rem;

  @include styles.up-xxl{
    height: calc(100dvh - styles.$header-height);
  }

  > .content-wrapper{
    width: 93%;
    padding: 2rem 0 1rem;

    @include styles.up-xxl{
      width: 90%;
      padding: 4rem 0 0;
    }
  }
}

.header{
  @include styles.setFlex($d: column, $ai: flex-start, $gap: 5px);
  margin-bottom: 20px;
  
  @include styles.up-xxl{
    @include styles.setFlex($jc: flex-start, $gap: 30px);
    margin-bottom: 40px;
  }

  h1{
    font-size: 32px;
  
    @include styles.up-xxl{
      font-size: 50px;
    }
  }

  p{
    font-size: 20px;

    @include styles.up-xxl{
      font-size: 24px;
    }
  }

  .mobile-divider{
    width: 80px;
    height: 3px;
    background-color: styles.$blue-sky;
  }

  .desktop-divider{
    width: 3px;
    height: 50px;
    background-color: styles.$blue-sky;
  }
}

.content{
  @media(min-width: 550px){
    @include styles.setFlex($jc: center, $gap: 24px);
  }

  @include styles.up-xxl{
    @include styles.setFlex($jc: flex-start, $gap: 24px);
  }

  @media (min-width: 1200px) {
    gap: 36px;
  }
}
