<section>
  <section class="content-wrapper">
    <header class="header">
      <h1>Join 360</h1>
      <section class="desktop-divider desktop-only" aria-hidden="true"></section>
      <p>Key Metrics at a Glance</p>
      <section class="mobile-divider mobile-only" aria-hidden="true"></section>
    </header>

    <section class="content">
      <app-summary-metrics />

      <aside class="good-day-message">
        @if (user$ | async; as user) {
          @if (user.isAnonymous) {
            <p class="desktop-only">{{ greeting }}!</p>
          } @else {
            <p class="desktop-only">{{ greeting }},</p>
            <!-- <p class="user-name desktop-only">{{ getGreetingName(user.email, user.displayName) }}</p> -->
            <p class="user-name desktop-only">{{ getGreetingName(user.email) }}</p>
          }
        }
      </aside>
    </section>
  </section>
</section>
