@use '../../../../styles/index.scss' as styles;

.contact-info {
  @include styles.setFlex($d: column, $jc: flex-start, $ai: flex-start, $gap: 4rem);
  height: calc(100dvh - styles.$header-desktop);
  padding: clamp(3rem, 5vw, 6rem) clamp(3rem, 6vw, 7rem);

  &__header {
    @include styles.setFlex($jc: flex-start, $gap: 3rem);
    flex-wrap: wrap;
  }

  &__title {
    @include styles.setFont($size: clamp(2.8rem, 5vw, 6rem), $weight: 700, $color: styles.$black);
  }

  &__header-divider {
    width: 0.3rem;
    height: clamp(3rem, 5vw, 6rem);
    border-radius: 100%;
    background-color: styles.$blue-sky;
  }

  &__subtitle {
    @include styles.setFont(
      $size: clamp(1.4rem, 2.2vw, 2.4rem),
      $weight: 400,
      $color: styles.$gray-dark
    );
  }

  &__profile {
    border: 1px solid red;
    width: 100%;
    @include styles.setFlex($d: column, $jc: flex-start, $ai: flex-start, $gap: 3rem);
  }

  &__main {
    width: 100%;
    border: 1px solid red;
    @include styles.setFlex($gap: 3.2rem);
    // flex-wrap: wrap;
  }

  &__avatar {
    @include styles.setFlex();
    flex-shrink: 0;
    width: clamp(8rem, 12vw, 12rem);
    height: clamp(8rem, 12vw, 12rem);
    border: 0.3rem solid styles.$white;
    border-radius: 50%;
    background-color: styles.$orange-accent;
    box-shadow: 0 4px 12px #0000001a;
  }

  &__initials {
    @include styles.setFont($size: clamp(2.4rem, 4vw, 4rem), $weight: 700, $color: styles.$white);
  }

  &__identity {
    width: 70%;
    border: 1px solid red;
    @include styles.setFlex($d: column, $ai: flex-start, $gap: 1.2rem);
  }

  &__name {
    border: 1px solid red;
    width: 100%;
    // max-width: 25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include styles.setFont($size: clamp(2.4rem, 4vw, 4rem), $weight: 700, $color: styles.$black);
  }

  &__actions {
    @include styles.setFlex($jc: flex-start, $ai: center, $gap: 2rem);
  }

  &__action {
    @include styles.setFlex($gap: 0.8rem);
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    @include styles.setFont($size: 1em, $weight: 400, $color: styles.$gray-dark);

    &:hover {
      color: styles.$blue-link;
    }
  }

  &__action-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__details {
    @include styles.setFlex($d: column, $ai: flex-start, $gap: 2rem);
  }

  &__section-title {
    @include styles.setFont($size: 2rem, $weight: 700, $color: styles.$black);
  }

  &__detail {
    @include styles.setFlex($d: column, $ai: flex-start, $gap: 0.6rem);
  }

  &__label {
    @include styles.setFont($size: 1.6rem, $weight: 700, $color: styles.$black);
  }

  &__value {
    @include styles.setFont($size: 1.6rem, $weight: 400, $color: styles.$blue-link);
  }
}
