@use '../../../styles/index.scss' as styles;

.add-task {
  width: 100%;
  height: 100%;
  min-height: 100%;
  @include styles.setGrid($rows: auto 1fr auto, $columns: auto 1% auto, $ai: start, $gap: 2rem);
  grid-template-areas:
    'title title title'
    'formA seperator formB'
    'hint empty actions';
  padding: 0 styles.$g-pad-x 2.5rem;
  overflow-y: scroll;
  scrollbar-gutter: stable;

  &__title {
    grid-area: title;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: styles.$white-soft;
    @include styles.setFont($size: 3em, $weight: 700, $line-height: 1.7, $color: styles.$black);
  }

  &__formA {
    grid-area: formA;
  }

  &__form-seperator {
    //
    grid-area: seperator;
    border-radius: 10%;
    width: 3px;
    background-color: styles.$gray-dark;
    justify-self: center;
    align-self: stretch;
  }

  &__formB {
    grid-area: formB;
  }

  &__hint {
    grid-area: hint;
    @include styles.setFlex($jc: flex-start);
    @include styles.setFont($size: 1em, $color: styles.$gray-dark);
  }

  &__required {
    color: styles.$red-error;
  }

  &__actions {
    grid-area: actions;
    @include styles.setFlex($jc: flex-end, $gap: 1rem);
    // justify-self: end;
    align-self: end;
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: styles.$white-soft;
    padding-block: 0.5rem;
    padding-bottom: 2rem;
  }

  &__button {
    border: 1px solid styles.$gray-dark;

    &:hover {
      border: 1px solid styles.$blue-sky;
      color: styles.$blue-sky;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  }
}

@include styles.down-xxl {
  .add-task {
    height: calc(100dvh - 2 * styles.$header-height + 1px);
  }
}

@include styles.down-lg {
  .add-task {
    padding: 0 2rem;
  }
}

@include styles.down-sm {
  .add-task {
    @include styles.setGrid($rows: auto auto auto auto 1fr, $columns: 1fr, $ac: start, $gap: 1rem);
    grid-template-areas:
      'title'
      'formA'
      'formB'
      'hint'
      'actions';

    &__form-seperator {
      display: none;
    }
  }
}
