@use "../../../../styles/index.scss" as styles;

section{
    position: fixed;
    bottom: 0;
    @include styles.setFlex();
    width: 100%;
    background-color: styles.$gray-dark;

    @include styles.desktop{
        position: relative;
        height: 100dvh;
    }

    .content-wrapper{
        @include styles.setFlex();
        height: 70px;
        width: 90%;

        @include styles.desktop{
            height: 100%;
            max-height: 1024px;
            width: 232px;
            @include styles.setFlex($d: column, $jc: space-between, $gap: 100px);
            padding: 70px 0;
        }
    }
}

nav{
    width: 100%;
    @include styles.desktop{
        @include styles.setFlex();

    }

    li{
        list-style: none;
    }

    a{
        color: white;
        font-weight: 300;
    }

    img{
        width: 25px;
        height: 25px;
        object-fit: contain;
    }
}

.logged-in-nav{

    @include styles.desktop{
        width: 100%;
    }

    ul{
        @include styles.setFlex($jc: space-between);

        @include styles.desktop{
            @include styles.setFlex($d: column, $gap: 16px);
            width: 100%;
        }
        
        @media(max-width: 350px){
            justify-content: space-around;
        }

        li{
            @include styles.desktop{
                width: 100%;
                
            }
        }

        a{
            @include styles.setFlex($d: column, $gap: 4px);

            @include styles.desktop{
                @include styles.setFlex($d: row, $jc: flex-start, $gap: 8px);
                width: 100%;
                padding: 8px 0 8px 50px;
            }

            &:hover{
                background-color: blue;
            }
            
            span{
                @media(max-width: 350px){
                    display: none;
                }
            }
        }
    }
}

.legal-nav{

    @include styles.desktop{
        margin-top: 200px;
    }

    .legal-links{

        @include styles.desktop{
            @include styles.setFlex($d: column, $ai: flex-start, $gap: 16px);

        }
        
        a{
            color: #A8A8A8;

            &:hover{
                color: styles.$blue-sky;
                font-weight: 700;
            }

        }
    }
}


.logged-out-nav{
    @include styles.setFlex($jc: space-between);

    >a{
        @include styles.setFlex($d: column, $gap: 4px);
    }

    ul{
        @include styles.setFlex($gap: 16px);
    }
}

