<section>
    <div class="content-wrapper">
        @if (loggedIn) {
            <a routerLink="" class="logo">
                <img src="assets/img/icons/logo-light.svg" alt="Join">
            </a>
            <nav class="main-nav logged-in-nav">
                <ul>
                    <li>
                        <a routerLink="">
                            <img src="assets/img/icons/cockpit/summary.svg" alt="">
                            <span>Summary</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <img src="assets/img/icons/cockpit/add-task.svg" alt="">
                            <span>Add Task</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <img src="assets/img/icons/cockpit/board.svg" alt="">
                            <span>Board</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <img src="assets/img/icons/cockpit/contacts.svg" alt="">
                            <span>Contacts</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="legal-nav desktop-only">
                <ul class="legal-links">
                    <li>
                        <a routerLink="/privacy">Privacy Policy</a>
                    </li>
                    <li>
                        <a routerLink="/imprint">Legal Notice</a>
                    </li>
                </ul>
            </nav>
        } @else {
            <nav class="logged-out-nav">
                <a routerLink="">
                    <img src="assets/img/icons/cockpit/log-in.svg" alt="">
                    <span>Log In</span>
                </a>
                <ul class="legal-links">
                    <li>
                        <a routerLink="/privacy">Privacy Policy</a>
                    </li>
                    <li>
                        <a routerLink="/imprint">Legal Notice</a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</section>