@use "../../../../styles/index.scss" as styles;

section{
    position: fixed;
    bottom: 0;
    @include styles.setFlex();
    width: 100%;
    background-color: styles.$gray-dark;

    @include styles.desktop{
        position: relative;
        width: 232px;
        height: 100dvh;
    }

    .content-wrapper{
        @include styles.setFlex($jc: space-between);
        height: 70px;
        width: 90%;

        @include styles.desktop{
            @include styles.setFlex($d: column, $jc: space-between, $gap: 100px);
            height: 100%;
            max-height: 1024px;
            padding: 70px 0;
            width: 100%;
        }
    }
}

nav{
    li{
        list-style: none;
        
        a{
            font-weight: 300;
            
            img{
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }
    }
}

.main-nav{
    width: 100%;

    ul{
        @include styles.setFlex($jc: space-between);

        @include styles.desktop{
            @include styles.setFlex($d: column, $gap: 16px);
            width: 100%;
        }
        
        @media(max-width: 350px){
            justify-content: space-around;
        }

        li{
            @include styles.desktop{
                width: 100%;
                
            }

            a{
                @include styles.setFlex($d: column, $gap: 4px);
                color: #CDCDCD;
    
                @include styles.desktop{
                    @include styles.setFlex($d: row, $jc: flex-start, $gap: 8px);
                    width: 100%;
                    padding: 8px 0 8px 50px;
                }
    
                &:hover{
                    background-color: styles.$navy-dark;
                }
                
                span{
                    @media(max-width: 350px){
                        display: none;
                    }
                }
            }
        }
    }
}

.legal-nav{
    @include styles.desktop{
        margin-top: 200px;
        width: 100%;
    }

    ul{
        @include styles.setFlex($gap: 16px);

        @include styles.desktop{
            width: 100%;
            display: block;
        }

        li{
            @include styles.desktop{
                width: 100%;
            }

            a{
                color: #CDCDCD;
                white-space: nowrap;
    
                @include styles.desktop{
                    @include styles.setFlex($d: column, $ai: flex-start, $gap: 16px);
                    padding: 8px 0 8px 50px;
                    color: #A8A8A8;
                }
    
                &:hover{
                    color: styles.$blue-sky;
                    font-weight: 700;
                }
            }
        }
    }
}

