@use '../../../../styles/index.scss' as styles;

dialog {
  margin: auto;
  position: revert;
  // position: fixed;
  // top: 30px;

  box-shadow: 0px 0px 4px 0px #0000001a;
  border: none;
  border-radius: 24px;
  z-index: 6;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &.opened {
    background: transparent;
    border-radius: 24px;
    border: none;

    &::backdrop {
      opacity: 0.7;
      background: #b3b3b3;
    }
  }

  .dialog-content {
    @include styles.setFlex($d: column, $ai: stretch, $jc: flex-start, $gap: 8px);
    width: 93dvw;
    max-width: 390px;
    max-height: 880px;
    background-color: white;
    border-radius: 24px;
    padding: 25px 20px;
    word-break: break-word;

    @include styles.down-xs{
      width: 88dvw;
    }

    @include styles.up-xxl{
      width: 505px;
      max-width: 550px;
      padding: 46px 36px 36px;
      gap: 21px;
      font-size: 20px;
    }
  }
}

.header{
  @include styles.setFlex($jc: space-between);

  .category{
    @include styles.setFlex();
    width: fit-content;
    padding: 3px 16px;
    border-radius: 8px;
    color: white;

    @include styles.up-xxl{
      padding: 4px 30px;
      font-size: 20px;
    }
  }
  
  .technical-task{
    background-color: styles.$mint-accent;
  }
  
  .user-story{
    background-color: styles.$blue-primary;
  }

  .close-btn{
    @include styles.setFlex();
    background-color: transparent;
    width: 32px;
    height: 32px;

    .icon{
      width: 24px;
      height: 24px;
    }

    .icon--hover{
      display: none;
    }

    &:hover{
      .icon--default{
        display: none;
      }

      .icon--hover{
        display: block;
      }
    }
  }
}

.title{
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 33px;

  @include styles.up-xxl{
    font-size: 61px;
    line-height: 1.15;
    margin-bottom: 24px;
  }
}

.description{
  margin-bottom: 4px;

  @include styles.up-xxl{
    margin-bottom: 0px;
  }
}

.subtitle{
  color: #42526E;
}

.due-date{
  @include styles.setFlex($jc: flex-start, $gap: 16px);

  @include styles.up-xxl{
    gap: 24px;
  }
}

.priority{
  @include styles.setFlex($jc: flex-start, $gap: 28px);

  @include styles.up-xxl{
    gap: 39px;
  }

  div{
    @include styles.setFlex($gap: 2px);
  }
}

.assignees{
  @include styles.setFlex($d: column, $ai: flex-start, $gap: 9px);

  @include styles.up-xxl{
    gap: 16px;
  }

  .assignee-list{
    @include styles.setFlex($d: column, $ai: flex-start, $jc: flex-start, $gap: 9px);
    width: 100%;
    max-height: 130px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background: styles.$gray-light;
    }

    @include styles.up-xxl{
      max-height: 160px;
    }

    .assignee-item{
      @include styles.setFlex($ai: center, $gap: 10px);
      margin: 0 0 9px 16px;
      padding-right: 8px;

      @include styles.up-xxl{
        gap: 16px;
      }

      .initials{
        @include styles.setFlex();
        width: 36px;
        height: 36px;
        padding: 8px;
        border: 1px solid white;
        border-radius: 50%;
        color: white;
        word-break: normal;
  
        @include styles.up-xxl{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.subtasks{
  @include styles.setFlex($d: column, $ai: flex-start, $gap: 8px);
  width: 100%;

  @include styles.up-xxl{
    gap: 10px;
  }

  .subtask-list{
    width: 100%;
    max-height: 70px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background: styles.$gray-light;
    }

    .checkbox-wrapper{
      @include styles.setFlex($jc: flex-start, $gap: 10px);
      width: fit-content;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 6px;
      cursor: pointer;
  
      @include styles.up-xxl{
        font-size: 16px;
        gap: 14px;
        margin-bottom: 6px;
      }
      
      &:hover{
        padding-right: 16px;
        border-radius: 8px;
        background-color: styles.$white-light;
      }
  
      .checkbox{
        display: none;
  
        &:checked + .checkbox-ui {
          background: url(../../../../../public/assets/img/icons/checkboxes/checkbox-checked.svg)
          center / contain no-repeat;
        }
      }
      
      .checkbox-ui {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background: url(../../../../../public/assets/img/icons/checkboxes/checkbox.svg)
          center / contain no-repeat;
      }
      
      &:hover .checkbox-ui {
        background: url(../../../../../public/assets/img/icons/checkboxes/checkbox-hover.svg)
        center / contain no-repeat;
      }
  
      &:hover .checkbox:checked + .checkbox-ui {
        background: url(../../../../../public/assets/img/icons/checkboxes/checkbox-checked-hover.svg)
        center / contain no-repeat;
      }

      .subtask-title{
        word-break: break-all;
      }
    }
  }
}

footer{
  @include styles.setFlex($jc: flex-end);

  @include styles.up-xxl{
    margin-top: -8px;
  }

  button{
    @include styles.setFlex($gap: 4px);
    background-color: transparent;
    color: #2A3647;

    @include styles.up-xxl{
      font-size: 16px;
    }

    .icon{
      width: 22px;
      height: 22px;
    }

    .icon--hover{
      display: none;
    }

    &:hover{
      color: styles.$blue-sky;

      .icon--default{
        display: none;
      }

      .icon--hover{
        display: block;
      }
    }
  }

  .separator{
    width: 1px;
    height: 18px;
    background-color: #D1D1D1;
  }
}

.confirm-backdrop {
  @include styles.setFlex();
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);

  p{
    font-weight: 500;
  }
  
  .confirm-box {
    min-width: 250px;
    max-width: 60dvw;
    padding: 32px;
    border-radius: 20px;
    background: white;
    word-break: break-word;

    @include styles.up-xxl{
      min-width: 380px;
      max-width: 40dvw;
    }
  
    .confirm-actions{
      @include styles.setFlex($gap: 24px);
      margin-top: 24px;

      .button{
        @include styles.up-xxl{
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }
  }
}
